//colors
$primary-color: #18cfab
$secondary-color: #1c2a33
$nav-color: #49473f
$primary-light: #18cfab
$info-btn: #00cbf6
$feature-desc: #777777
$feature-head: #717171

//sizes
$header-height: 120px


//fonts
$main-font: "Montserrat"

//transitions
$transition: all .25s ease